{% load i18n %}
<footer class="row">
<div class="large-12 columns">
  <hr/>
  <div class="row">
    <div class="small-6 columns">
      <ul class="inline-list">
        <li class="icon icon-facebook">
          <a href="#">
          </a>
        </li>
        <li class="icon icon-twitter">
          <a href="#">
          </a>
        </li>
        <li class="icon icon-instagram">
          <a href="#">
          </a>
        </li>
      </ul>
    </div>
    <div class="small-6 columns">
      <div class="right row">
        <div class="small-8 medium-8 columns">
        <input type="email">
      </div>
      <div class="small-4 medium-4 columns">
        <input type="submit" class="postfix button small" value="Subscribe">
      </div>
      </div>
    </div>
  </div>
</div>
</footer>