{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Intueri" %}{% endblock %}
{% block content %}
<script>
$(".top-bar-section ul li:nth-child(3) a").addClass("active");
</script>

<div class="row">
	<div class="large-12 columns main-content-top">
		<div class="row">
			<h2>About Us</h2>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="row">
		<div class="large-12 columns">
			<h2>Our Team</h2>
		</div>
	</div>

	<div class="row smallpadding">
		<div class="medium-5 columns">
			<img class="center" src="{% static "website/media/emily.jpg" %}">
		</div>
		<div class="medium-7 columns ">
			<div class="large-12 columns smallpadding">
				<h4 class="text-center column">Emily</h4>
				<p class="text-center column">Something something something.This is a content section. Something something something.This is a content section. Something something something.This is a content section. Something something something.</p>
			</div>
		</div>
	</div>

	<div class="row smallpadding">
		<div class="medium-7 columns ">
			<div class="large-12 columns smallpadding">
				<h4 class="text-center column">Elton</h4>
				<p class="text-center column">Something something something.This is a content section. Something something something.This is a content section. Something something something.This is a content section. Something something something.</p>
			</div>
		</div>
		<div class="medium-5 columns">
			<img class="center" src="{% static "website/media/elton.jpg" %}">
		</div>
	</div>

	<div class="row smallpadding">
		<div class="medium-5 columns">
			<img class="center" src="{% static "website/media/reza.jpg" %}">
		</div>
		<div class="medium-7 columns ">
			<div class="large-12 columns smallpadding">
				<h4 class="text-center column">Reza</h4>
				<p class="text-center column">Something something something.This is a content section. Something something something.This is a content section. Something something something.This is a content section. Something something something.</p>
			</div>
		</div>
	</div>

	<div class="row smallpadding">
		<div class="medium-7 columns ">
			<div class="large-12 columns smallpadding">
				<h4 class="text-center column">Amy</h4>
				<p class="text-center column">Something something something.This is a content section. Something something something.This is a content section. Something something something.This is a content section. Something something something.</p>
			</div>
		</div>
		<div class="medium-5 columns">
			<img class="center" src="{% static "website/media/Amy.jpg" %}">
		</div>
	</div>

	<div class="row smallpadding">
		<div class="medium-5 columns">
			<img class="center" src="{% static "website/media/Zoe.jpg" %}">
		</div>
		<div class="medium-7 columns ">
			<div class="large-12 columns smallpadding">
				<h4 class="text-center column">Zoe</h4>
				<p class="text-center column">Something something something.This is a content section. Something something something.This is a content section. Something something something.This is a content section. Something something something.</p>
			</div>
		</div>
	</div>

</div>

{% endblock %}
