{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans "Intueri" %}{% endblock %}
{% block content %}
<script>
$(".top-bar-section ul li:nth-child(4) a").addClass("active");
</script>

<div class="row">
	<div class="large-12 columns main-content-top">
		<div class="row">
			<h2>Contact Us</h2>
		</div>
	</div>
</div>

<div class="row main-content contactus">
	<div class="large-12 columns">
		<p>beta blah blah blahsldajfiow;ejfadls;kjf alwejf akls;fj ai;wej fl;as djlfkjas;flj lsadjf
		</p>
		<div class="row">
			<div class="small-6 columns">
				<h6>Your Name</h6>
				<input type="text" id="name" placeholder="">
				<h6>Your Email</h6>
				<input type="email" id="email" placeholder="">
				<h6>Subject</h6>
				<input type="text" id="subject" placeholder="">
				<h6>Your Message</h6>
				<textarea></textarea>
				<input type="submit" class="button small" value="Send"/>
			</div>
			<div class="small-4 right columns">
				<label>Email</label>
				<a href="mailto:info@intueri.com">info@intueri.com</a>
				<hr/>
				<label>Social Media</label>
				<p>
					<a href="#">Facebook</a> | 
					<a href="#">Twitter</a> | 
					<a href="#">Instagram</a>
				</p>
			</div>
		</div>
	</div>
</div><br>

{% endblock %}
