{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans "Intueri" %}{% endblock %}
{% block content %}
<script>
$(".top-bar-section ul li:nth-child(1) a").addClass("active");
</script>

<div class="row main-content">
	<div class="large-12 columns">
		<div id="slider" class="slider slick-carousel single-item">
			<div>
				<img src="http://placehold.it/1000x400" alt="slide image">
			</div>
			<div>
				<img src="http://placehold.it/1000x400&text=Slide Image2" alt="slide image">
			</div>
		</div>
		<script>
		$('.single-item').slick({dots: true});
		</script>
	</div>
</div>

<div class="row main-content">
	<div class="large-12 center" style="max-width: 560px; max-height: 315px;">
		<div class="flex-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/rYcvQqK5194" frameborder="0" allowfullscreen>
			</iframe>
		</div>
	</div>
</div>

<div class="row main-content">
	<div class="large-12 columns">
		<div class="row">
			<div class="small-6 columns nopadding">
				<div>
					<img src="http://placehold.it/500x485"/>
				</div>
				<div>
					<img class="nopadding" src="http://placehold.it/500x485"/>
				</div>
			</div>
			<div class="small-6 columns right nopadding">
				<div>
					<img src="http://placehold.it/500x970"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div>
				<img class="center" src="http://placehold.it/1000x485"/>
			</div>
		</div>
	</div>
</div>

<div class="row main-content">
	<div class="large-12 columns">
		<div class="row">
			<h2>Some sort of text??</h2>
		</div>
	</div>
</div>

{% endblock %}