{% extends "PLM_base.html" %}
{% load i18n %}

{% block title %}{% trans "Intueri Login" %}{% endblock %}
{% block content %}
<form>
  <div class="row">
    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Username</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="Enter Email">
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
