{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans "Intueri" %}{% endblock %}
{% block content %}
<script>
$(".top-bar-section ul li:nth-child(2) a").addClass("active");
</script>

<div class="row">
	<div class="large-12 columns main-content-top">
		<div class="row">
			<h2>Pricing</h2>
		</div>
	</div>
</div>

<div class="row main-content">	
	<div class="large-12 columns">
		<p>
			The most common pricing are listed here. Feel free to contact us for pricing details.
		</p>
	</div>
	<div class="large-4 columns">                      	
		<ul class="pricing-table">
			<li class="title">Standard</li>
			<li class="price">$99.99</li>
			<li class="description">An awesome description</li>
			<li class="bullet-item">5GB Storage</li>
			<li class="bullet-item">20 Users</li>
			<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		</ul>
	</div>
	<div class="large-4 columns">
		<ul class="pricing-table">
			<li class="title">Premium</li>
			<li class="price">$199.99</li>
			<li class="description">An awesome description</li>
			<li class="bullet-item">5 Database</li>
			<li class="bullet-item">10GB Storage</li>
			<li class="bullet-item">50 Users</li>
			<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		</ul>
	</div>
	<div class="large-4 columns">
		<ul class="pricing-table">
			<li class="title">Platinum</li>
			<li class="price">$299.99</li>
			<li class="description">An awesome description</li>
			<li class="bullet-item">Unlimited</li>
			<li class="bullet-item">50GB Storage</li>
			<li class="bullet-item">Unlimited</li>
			<li class="bullet-item">Analytics</li>
			<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		</ul>
	</div>
</div>

{% endblock %}
