{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Intueri" %}{% endblock %}
{% block css %}
<link href="{% static "base/css/base.css" %}" rel="stylesheet"/>
{% endblock %}

{% block base_body %}
{% block navigation %}
<header class="row main-navigation">
  <div class="large-12 columns">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name logo">
          <a href="{% url 'website:index' %}">
            <img src="{% static "base/media/logo.png" %}">
          </a>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li><a href="{% url 'website:pricing' %}">Pricing</a></li>
          <li><a href="{% url 'website:aboutus' %}">About Us</a></li>
          <li><a href="{% url 'website:contactus' %}">Contact Us</a></li>
          <li>
            <a href="{% url 'PLM:login' %}">Login/Register</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
{% include "_footer.html" %}
{% endblock %}

{% endblock %}