{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    {% block base_title %}
    <title>{% block title %}Foundation 5.5.0{% endblock title %}</title>
    {% endblock base_title %}

    {# Base Foundation CSS #}
    {% block foundation_css %}
    <link href="{% static "foundation/css/normalize.css" %}" rel="stylesheet"/>
    <link href="{% static "foundation/css/foundation.css" %}" rel="stylesheet"/>
    {% endblock foundation_css %}  
    
    {# Custom CSS #}
    <link rel="stylesheet" type="text/css" href="{% static "base/js/slick/slick.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "base/js/slick/slick-theme.css" %}"/>
    {% block css %}{% endblock css %}

    {# Override if you need another version of modernizr #}
    {% block foundation_modernizer %}
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    {% endblock foundation_modernizer %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
</head>
<body {% block body_attr %}{% endblock body_attr %}>

    {# Override if you need another version of jQuery #}
    {% block foundation_jquery %}
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
    {% endblock foundation_jquery %}

    {# Foundation JS #}
    {% block foundation_js %}
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>
    {% endblock foundation_js %}

    {# Custom JS #}
    {% block body_js %}
    <script type="text/javascript" src="{% static "base/js/slick/slick.min.js" %}"></script>
    {% endblock body_js %}

    {# Main content goes here #}
    {% block base_body %}{% endblock base_body %}

    {# Init Foundation #}
    {% block foundation_js_init %}
    <script>
    $(document).foundation();
    </script>
    {% endblock foundation_js_init %}

</body>
</html>
