/* 
 * General
 */

 .button {
    background-color: #880000;
    border-color: #660000;
}

.button:hover {
    background-color: #660000;
    border-color: #550000;   
}

p {
    color: #585858;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.nopadding {
    padding-left: 0;
    padding-right: 0;
    border-color: #880000;
    border-width: 5px;
    border-style: solid;
}

.smallpadding {
    margin-top: 0.5rem;
}

.flex-video iframe {
    max-height: 315px;
}

/* 
 * Top Navigation 
 */

 .main-navigation {
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .main-navigation .logo{
    margin: 1.1rem 0rem 1.1rem 0rem;
}

.top-bar .toggle-topbar.menu-icon a {
    color: #880000;
}

.top-bar {
    background: white;
    height: 4rem;
    margin-bottom: 0px;
}

.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #880000, 0 7px 0 1px #880000, 0 14px 0 1px #880000;
}

.top-bar.expanded .title-area {
  background: white; }

  .top-bar-section {
    margin: 1.1rem 0rem 0rem 0rem;
    background: white;
    text-align: center;
}

.top-bar-section ul li {
    background: white;
}

.top-bar-section > ul li:not(.has-form) a:not(.button) {
    background: white;
    padding: 0 0.9375rem;
    line-height:2.825rem;
    color: #585858;
    font-size: 1rem;
}

.top-bar-section > ul li:not(.has-form) a:not(.button):hover {
    color: #880000;
    background: white;
}

.top-bar-section ul li:not(.has-form) a:not(.button).active, 
.top-bar-section ul li:not(.has-form) a:not(.button).active:hover {
    background: #880000;
    border-radius: 0.5rem;
    color: white;
}

.dropdown li {
    margin: 0 0 0 0 !important;
}

.top-bar-section .has-dropdown > a:after {
    border-color: #585858 transparent transparent transparent;
}

.top-bar-section .has-dropdown > a:hover:after {
    border-color: #880000 transparent transparent transparent;
}

/* 
 * Main Content
 */

 .main-content-top {
    background: url(../../website/media/Banner.png) no-repeat center; 
    min-height: 4rem; 
    padding-top: 1rem;
}

.main-content-top h2{
    padding-left:1.250rem; 
    text-transform:uppercase; 
    color:#474747; 
    font-weight:bold; 
    font-size:2rem; 
    line-height:2rem;
}

.main-content {
    margin-top: 2rem;
}

/*
 * Footer
 */

 .icon {
    width: 2rem;
    height: 2rem;
}

.icon-facebook {
    background: url(../../website/media/facebook.png) no-repeat center;
    background-size: 2rem 2rem;
}

.icon-twitter {
    background: url(../../website/media/twitter.png) no-repeat center;
    background-size: 2rem 2rem;
}

.icon-instagram {
    background: url(../../website/media/instagram.png) no-repeat center;
    background-size: 2rem 2rem;
}

footer input[type="submit"] {
    background: white;
    color: #880000;
}

footer input[type="submit"]:hover{
    background: white;
    color: #660000;
}

footer .columns {
    padding-left: 0;
    padding-right: 0;
}

footer .row .row, footer.row .row {
    margin-left: 0;
    margin-right: 0;
}

/*
 * Pricing
 */

 .pricing-table .title {
    background:#585858;
}

.pricing-table .price {
    font-size: 1.5rem;
    color: #585858;
    background-color: #;
}

/*
 * About Us
 */

 .aboutUs-text {
    text-align: center;
    max-width: 25rem;
 }

/* 
 * Contact Us
 */

 .contactus textarea {
    height: 10rem;
}