{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Intueri" %}{% endblock %}
{% block base_body %}
  {% block navigation %}
    <div class="row">
        <div class="large-3 columns">
          <h1><a href="{% url 'website:index' %}">
            <img src="http://placehold.it/400x100&text=Logo">
          </a></h1>
        </div>
        <div class="large-9 columns">
          <ul class="button-group right">
            <li><a href="{% url 'PLM:login' %}" class="button">bleh</a></li>
          </ul>
        </div>
      </div>
  {% endblock %}

  {% block content %}
        
  {% endblock %}

  {% block footer %}
    {% include "_footer.html" %}
  {% endblock %}

{% endblock %}